.player_container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.player_content {
  width: 500px;
  height: 450px;
  background-color: #181818;
  display: flex;
  /* justify-content: center; */
  /* align-items: center; */
  margin-bottom: 5px;
  flex-direction: column;
  padding: 7px;
}
.player_content .player_footer {
  margin-top: 5px;
  width: 100%;
  display: flex;
  flex-direction: column;
  color: white;
  
}
.player_content .player_footer .range {
  width: 100%;
  background: #d3d3d3;
  margin: 10px 0;
}
.player_content .player_footer .player_control {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}
.player_control button{
  border: 0;
  background-color: transparent;
  width: 40px;
  margin-right: 5px;
  color: white
}
